{% extends 'index.html' %}

{% block metas %}
    <meta property="og:url" content="http://vortice.ec/post/{{ blogg.id }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ blogg.titulo }}"/>
    <meta property="og:description" content="{{ blogg.articulo }}"/>
    <meta property="og:image" content="http://vortice.ec/media/{{ blogg.imagen }}"/>
    <meta property="og:image:width" content="600"/>
    <meta property="og:image:height" content="600"/>
    <meta property="fb:app_id" content="926164441218858"/>
{% endblock %}

{% block principal %}
    {% load contador %}
    <div class="page-content">
        <div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/blog/">Blog</a></li>
                    <li><a href="/post/{{ blogg.id }}">{{ blogg.titulo }}</a></li>
                    <li><span></span></li>
                </ul>
            </div>
        </div>
        <div class="holder mt-0">
            <div class="container">

                <!-- Page Title -->
                <div class="page-title page-title--blog">
                    <div class="title">
                        <h1>{{ blogg.titulo }}</h1>
                    </div>
                </div>
                <!-- /Page Title -->
                <div class="row">
                    <div class="col-md-9 aside" id="centerColumn">
                        <div class="post-full">
                            <div class="post-bot">
                                <div class="post-date">{{ blogg.fecha }}</div>
                            </div>
                            {% if blogg.tipo_archivo == 'imagen' %}
                                <div class="post-img">
                                    <img src="/media/{{ blogg.imagen }}" alt="">
                                </div>

                            {% else %}
                                <iframe width="100%" height="200%"
                                        src="https://www.youtube.com/embed/{{ blogg.tipo_video_link }}?showinfo=0&rel=0&theme=light&modestbranding=1&frameborder=0"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                </iframe>
                            {% endif %}



                            <div class="post-text">
                                <p>{{ blogg.articulo }}</p>

                            </div>
                            <div class="post-bot flex-wrap">
                                <div class="post-date">Fecha:{{ blogg.fecha }}</div>
                                <a href="#" class="post-link">Autor:{{ blogg.autor }}</a>
                                <p><i class="icon icon-eye"></i> {% vistanumero blogg.id %}</p>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-3 aside aside--right" id="sideColumn">
                        <div class="fixed-col_container">
                            <div class="fstart"></div>
                            <div class="fixed-wrapper">
                                <div class="fixed-scroll">
                                    <div class="fixed-col_content">
                                        <div class="aside-block">
                                            <h2 class="text-uppercase">Ultimos Post</h2>
                                            {% for blog in blogs %}
                                                <div class="post-prw"><a href="/post/{{ blog.id }}/"
                                                                         class="post-img"><img
                                                        src="/media/{{ blog.imagen }}"
                                                        data-src="/media/{{ blog.imagen }}"
                                                        class="lazyload" alt=""></a>
                                                    <h4 class="post-title"><a href="#">{{ blog.titulo }} </a></h4>
                                                    <div class="post-bot">
                                                        <div class="post-date">Fecha: {{ blog.fecha }}</div>
                                                        <a href="/post/{{ blog.id }}/" class="post-link">Leer mas!</a>
                                                        <div class="post-action"><a href="#"
                                                                                    class="icon icon-heart-1"></a>
                                                            <a href="#" class="icon-share"></a></div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="fend"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
