{% extends 'index.html' %}
{% block principal %}
    <!-- product -->
    <div class="product segments-page">
        <div class="container">
            <div class="row">
                <!-- product home -->
                <div class="product-home p-bottom segments">
                    <div class="section-title">
                        <h3>Artuculo</h3>
                    </div>
                    <div class="product-slide-two owl-carousel owl-theme">
                        {% for arti in articu %}
                            <div class="col s3">
                              <a href="/seccion/{{ arti.seccion.seccion }}/prenda/{{ arti.tipo }}/">
                                    <img src="/media/{{ arti.imagen }}" style="max-width:250%;width:auto;height:auto;">
                                    <br>
                                </a>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="l-more">
                        <p href="see-more-product.html">
                            <i class="fa fa-angle-left"></i>Desliza
                        </p>
                    </div>
                </div>
                <!-- end product home -->
            </div>
        </div>
    </div>
    <!-- product -->

    <!-- b-seller -->
    <div style="margin-top: -100px" class="b-seller segments">
        <div class="container">
            <div class="section-title">
                <h3>Productos</h3>
            </div>
            <div class="row" >
                {% for produc in productss %}
                    <div class="col s6" style="justify-items: left ">
                        <div class="content" >
                            <div class="image">
                                <img src="/media/{{ produc.imagen }}" alt="" width="100%" height="100%" >
                            </div>
                            <div class="text">
                                <a href="/producto_detalle/{{ produc.id }}/">
                                    <h4 style="text-align: center">{{ produc.titulo }}</h4>
                                </a>

                                {% if produc.offer %}
                                    <p style="text-align: center; margin-top: 0px"><del>$.{{ produc.precio }}</del></p>
                                    <h5 style="text-align: center ; margin-top: -10px">$.{{ produc.precio_oferta }}</h5>
                                {% else %}
                                    <h5 style="text-align: center; margin-top: 10px">$.{{ produc.precio }}</h5>
                                {% endif %}
                            </div>
                        </div>
                        <br><br><br><br>
                    </div>

                {% endfor %}

                 {% for produc in product %}
                    <div class="col s6" style="justify-items: left ">
                        <div class="content" >
                            <div class="image">
                                <a href="/producto_detalle/{{ produc.id }}/">
                                    <img src="/media/{{ produc.imagen }}" alt="" width="100%" height="100%" >
                                </a>
                            </div>
                            <div class="text">
                                <a href="/producto_detalle/{{ produc.id }}/">
                                    <h4 style="text-align: center">{{ produc.titulo }}</h4>
                                </a>

                                {% if produc.offer %}
                                    <p style="text-align: center; margin-top: 0px"><del>$.{{ produc.precio }}</del></p>
                                    <h5 style="text-align: center ; margin-top: -10px">$.{{ produc.precio_oferta }}</h5>
                                {% else %}
                                    <h5 style="text-align: center; margin-top: 10px">$.{{ produc.precio }}</h5>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- end b-seller -->




    <!-- product home -->
    <div class="product-home segments">
        <div class="container">
            <div class="section-title">
                <h3>Colecciones</h3>
            </div>
            <div class="product-slide owl-carousel owl-theme ">


                {% for colec in colecciones %}
                    <div class="content">
                        <a href="/seccion/{{ colec.seccion.seccion }}/coleccion/{{ colec.tema }}/"><img
                                src="/media/{{ colec.imagen }}" alt="" width="100%" height="100%"></a>
                        <p style="text-align: center"> {{ colec.tema }}</p>
                    </div>
                {% endfor %}

            </div>
            <div class="l-more">
                <p href="see-more-product.html">
                    <i class="fa fa-angle-right"></i>Desliza
                </p>
            </div>
        </div>
    </div>
    <br><br><br>

    <!-- end product home -->




{% endblock %}

