{% extends 'index.html' %}
{% block principal %}

    <div class="header-banners">
        <div class="holder fullboxed aside--bg-none holder-bg-carousel">
            <div class="container">
                <div  class="title-wrap text-center">
                    <h2 class="h1-style"><a href="/seccion/{{ colec.seccion.seccion }}/coleccion/{{ colec.tema }}" class="prd-img"> Colección {{ colec.tema }}</a></h2>
                    <p style="margin-top: -7px">{{ sec.seccion }}</p>
                    <p style="margin-top: -7px">{{ colec.seccion.seccion }}</p>
                </div>

                <div class="prd-grid prd-text-center prd-carousel js-prd-carousel js-product-isotope-sm slick-arrows-aside-simple slick-arrows-mobile-lg data-to-show-4 data-to-show-md-3 data-to-show-sm-3 data-to-show-xs-2 xs-limit-1"
                     data-slick='{"slidesToShow": 6, "responsive": [{"breakpoint": 992,"settings": {"slidesToShow": 6}},{"breakpoint": 768,"settings": {"slidesToShow": 4}},{"breakpoint": 480,"settings": {"slidesToShow": 2}}]}'>

                    {% for pren  in prendas  %}
                        <div class="prd prd-has-loader">
                            <div class="prd-inside">
                                <div class="prd-img-area"><a
                                        href="/seccion/{{ pren.coleccion.seccion.seccion }}/coleccion/{{ pren.coleccion.tema }}/prenda/{{ pren.tipo.tipo }}/"
                                        class="prd-img"><img
                                        src="/media/{{ pren.tipo.imagen }}"
                                        data-srcset="/media/{{ pren.tipo.imagen }}"
                                        style="max-width:40%;width:auto;height:auto;" alt="Long tshirt"
                                        class="js-prd-img lazyload"> </a>
                                    <div class="gdw-loader"></div>
                                </div>
                                <div class="prd-info">
                                    <h2 class="prd-title"><a href="/seccion/{{ pren.coleccion.seccion.seccion }}/coleccion/{{ pren.coleccion.tema }}/prenda/{{ pren.tipo.tipo }}/">{{ pren.tipo.tipo }}</a></h2>
                                </div>
                            </div>
                            <br><br>
                        </div>
                    {% endfor %}
                    {% for pren  in prendaa   %}
                        <div class="prd prd-has-loader">
                            <div class="prd-inside">
                                <div class="prd-img-area"><a
                                        href="/seccion/{{ pren.coleccion.seccion.seccion }}/coleccion/{{ pren.coleccion.tema }}/prenda/{{ pren.tipo.tipo }}/"
                                        class="prd-img"><img
                                        src="/media/{{ pren.tipo.imagen }}"
                                        data-srcset="/media/{{ pren.tipo.imagen }}"
                                        style="max-width:40%;width:auto;height:auto;" alt="Long tshirt"
                                        class="js-prd-img lazyload"> </a>
                                    <div class="gdw-loader"></div>
                                </div>
                                <div class="prd-info">
                                    <h2 class="prd-title"><a href="/seccion/{{ pren.coleccion.seccion.seccion }}/coleccion/{{ pren.coleccion.tema }}/prenda/{{ pren.tipo.tipo }}/">{{ pren.tipo.tipo }}</a></h2>
                                </div>
                            </div>
                            <br><br>
                        </div>
                    {% endfor %}

                </div>
                <hr>
                <br><br>

                <!-- Products Grid -->

                <div class="prd-grid product-listing data-to-show-4 data-to-show-md-4 data-to-show-sm-2 js-category-grid">
                    {% for produc in productss %}
                        <div class="prd prd-has-loader prd-new prd-popular">
                            <div class="prd-inside">
                                <div class="prd-img-area"><a href="/producto_detalle/{{ produc.id }}/"
                                                             class="prd-img"><img src="/media/{{ produc.imagen }}"
                                                                                  data-srcset="/media/{{ produc.imagen }}"
                                                                                  alt="Glamor shoes"
                                                                                  class="js-prd-img lazyload"></a>
                                    {% if produc.new %}
                                        <div class="label-new">Nuevo</div>
                                    {% else %}
                                    {% endif %}

                                    {% if produc.offer %}

                                        <div class="label-sale">Promo</div>
                                    {% else %}
                                    {% endif %}
                                    <ul class="list-options color-swatch prd-hidemobile">
                                        <li data-image="/media/{{ produc.imagen }}"><a href="#" class="js-color-toggle"><img
                                                src="/media/{{ produc.imagen }}"
                                                data-srcset="/media/{{ produc.imagen }}" class="lazyload"
                                                alt="Color Name"></a></li>
                                        <li data-image="/media/{{ produc.imagen_2 }}"><a href="#"
                                                                                         class="js-color-toggle"><img
                                                src="/media/{{ produc.imagen_2 }}"
                                                data-srcset="/media/{{ produc.imagen_2 }}" class="lazyload"
                                                alt="Color Name"></a></li>
                                    </ul>
                                    <div class="gdw-loader"></div>
                                </div>
                                <div class="prd-info">
                                    <div class="prd-tag prd-hidemobile">{{ produc.prenda.coleccion }}</div>
                                    <h2 class="prd-title"><a href="/producto_detalle/{{ produc.id }}/">{{ produc.titulo }}</a></h2>
                                    <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i
                                            class="icon-star fill"></i><i class="icon-star fill"></i><i
                                            class="icon-star fill"></i><i class="icon-star"></i></div>
                                    {% if produc.offer %}
                                        <div class="prd-price" style="text-align: center">
                                            <div class="price-old">$ {{ produc.precio }}</div>&nbsp;&nbsp;
                                            <div class="price-new">$ {{ produc.precio_oferta }}</div>
                                        </div>

                                    {% else %}
                                        <div class="prd-price">
                                            <div class="price-new" style="text-align: center">
                                                $ {{ produc.precio }}</div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                    {% for produc in product %}
                        <div class="prd prd-has-loader prd-new prd-popular">
                            <div class="prd-inside">
                                <div class="prd-img-area"><a href="/producto_detalle/{{ produc.id }}/"
                                                             class="prd-img"><img src="/media/{{ produc.imagen }}"
                                                                                  data-srcset="/media/{{ produc.imagen }}"
                                                                                  alt="Glamor shoes"
                                                                                  class="js-prd-img lazyload"></a>
                                    {% if produc.new %}
                                        <div class="label-new">Nuevo</div>
                                    {% else %}
                                    {% endif %}

                                    {% if produc.offer %}

                                        <div class="label-sale">Promo</div>
                                    {% else %}
                                    {% endif %}
                                    <ul class="list-options color-swatch prd-hidemobile">
                                        <li data-image="/media/{{ produc.imagen }}"><a href="#" class="js-color-toggle"><img
                                                src="/media/{{ produc.imagen }}"
                                                data-srcset="/media/{{ produc.imagen }}" class="lazyload"
                                                alt="Color Name"></a></li>
                                        <li data-image="/media/{{ produc.imagen_2 }}"><a href="#"
                                                                                         class="js-color-toggle"><img
                                                src="/media/{{ produc.imagen_2 }}"
                                                data-srcset="/media/{{ produc.imagen_2 }}" class="lazyload"
                                                alt="Color Name"></a></li>
                                    </ul>
                                    <div class="gdw-loader"></div>
                                </div>
                                <div class="prd-info">
                                    <div class="prd-tag prd-hidemobile">{{ produc.prenda.coleccion }}</div>
                                    <h2 class="prd-title"><a href="/producto_detalle/{{ produc.id }}/">{{ produc.titulo }}</a></h2>
                                    <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i
                                            class="icon-star fill"></i><i class="icon-star fill"></i><i
                                            class="icon-star fill"></i><i class="icon-star"></i></div>
                                    {% if produc.offer %}
                                        <div class="prd-price" style="text-align: center">
                                            <div class="price-old">$ {{ produc.precio }}</div>&nbsp;&nbsp;
                                            <div class="price-new">$ {{ produc.precio_oferta }}</div>
                                        </div>

                                    {% else %}
                                        <div class="prd-price">
                                            <div class="price-new" style="text-align: center">
                                                $ {{ produc.precio }}</div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>

            </div>
        </div>

        <div class="holder fullboxed aside--bg-none holder-bg-carousel">
            <div class="container">
                <div class="title-wrap text-center">
                    <h2 class="h1-style">Colecciones</h2>
                </div>

                <div class="prd-grid prd-text-center prd-carousel js-prd-carousel js-product-isotope-sm slick-arrows-aside-simple slick-arrows-mobile-lg data-to-show-4 data-to-show-md-3 data-to-show-sm-3 data-to-show-xs-2 sm-limit-4"
                     data-slick='{"slidesToShow": 4, "responsive": [{"breakpoint": 992,"settings": {"slidesToShow": 3}},{"breakpoint": 768,"settings": {"slidesToShow": 2}},{"breakpoint": 480,"settings": {"slidesToShow": 2}}]}'>


                    {% for colec in colecciones %}


                            <div class="prd prd-has-loader">
                                <div class="prd-inside">
                                    <div class="prd-img-area"><a
                                            href="/seccion/{{ colec.seccion.seccion }}/coleccion/{{ colec.tema }}/"
                                            class="prd-img"><img
                                            src="/media/{{ colec.imagen }}"
                                            data-srcset="/media/{{ colec.imagen }}" alt="Long tshirt"
                                            class="js-prd-img lazyload"> </a>
                                        <div class="gdw-loader"></div>
                                    </div>
                                    <div class="prd-info">
                                        <h2 class="prd-title"><a
                                                href="/seccion/{{ colec.seccion.seccion }}/coleccion/{{ colec.tema }}/">{{ colec.seccion.seccion }}
                                            - {{ colec.tema }}</a></h2>
                                    </div>
                                </div>
                            </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br><br><br>
    </div>

    <!-- end product home -->




{% endblock %}




