{% extends 'index.html' %}
{% block metas %}
    <meta property="og:url" content="http://vortice.ec/producto_detalle/{{ products.id }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ products.titulo }}"/>
    <meta property="og:description" content="{{ products.descripcion }}"/>
    <meta property="og:image" content="http://vortice.ec/media/{{ products.imagen }}"/>
    <meta property="og:image:width" content="600"/>
    <meta property="og:image:height" content="600"/>
    <meta property="fb:app_id" content="926164441218858"/>
{% endblock %}
{% block principal %}
    <div class="page-content">
        <div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/seccion/{{ products.prenda.coleccion.seccion.seccion }}">{{ products.prenda.coleccion.seccion.seccion  }}</a></li>
                    <li><span>{{ products.titulo }}</span></li>
                </ul>
            </div>
        </div>
        <div class="holder mt-0">
            <div class="container">
                <div class="row prd-block prd-block--mobile-image-first prd-block--prv-right js-prd-gallery"
                     id="prdGallery100">


                    <div class="col-md-6 col-xl-5">
                        <div class="prd-block_info js-prd-m-holder mb-2 mb-md-0"></div><!-- Product Gallery -->
                        <div class="prd-block_main-image main-image--slide js-main-image--slide">
                            <div class="prd-block_main-image-holder js-main-image-zoom" data-zoomtype="inner">
                                <div class="prd-block_main-image-video js-main-image-video"><video loop muted preload="metadata" controls="controls">
                                        <source src="#"></video>
                                    <div class="gdw-loader"></div>
                                </div>
                                <div class="prd-has-loader">
                                    <div class="gdw-loader"></div><img src="/media/{{ products.imagen }}" class="zoom" alt="" data-zoom-image="/media/{{ products.imagen }}">
                                </div>
                                <div class="prd-block_main-image-next slick-next js-main-image-next">NEXT</div>
                                <div class="prd-block_main-image-prev slick-prev js-main-image-prev">PREV</div>
                            </div>
                            <div class="prd-block_main-image-links">
                                <a data-fancybox data-width="900">
                                   </a> <a href="/media/{{ products.imagen }}" class="prd-block_zoom-link">
                                <i class="icon icon-zoomin"></i></a>
                            </div>
                        </div>
                        <div class="product-previews-wrapper">
                            <div class="product-previews-carousel" id="previewsGallery100">
                                <a href="#" data-value="Silver" data-image="/media/{{ products.imagen }}" data-zoom-image="/media/{{ products.imagen }}">
                                    <img src="/media/{{ products.imagen }}" alt=""></a>

                                {% if products.youtube %}
                                    <a href="#" data-video="/media/{{ products.youtube }}">
                                        <img src="/media/{{ products.imagen }}" alt="">
                                    </a>
                                {% else %}
                                {% endif %}

                                {% if products.imagen_2 %}
                                <a href="#" data-value="Silver"  data-image="/media/{{ products.imagen_2 }}"   data-zoom-image="/media/{{ products.imagen_2 }}">
                                    <img src="/media/{{ products.imagen_2 }}" alt="">
                                </a>
                                {% else %}
                                {% endif %}

                                {% if products.imagen_3 %}
                                <a href="#" data-value="Silver"  data-image="/media/{{ products.imagen_3 }}"   data-zoom-image="/media/{{ products.imagen_3 }}">
                                    <img src="/media/{{ products.imagen_3 }}" alt="">
                                </a>
                                {% else %}
                                {% endif %}

                                {% if products.imagen_4 %}
                                <a href="#" data-value="Silver"  data-image="/media/{{ products.imagen_4 }}"   data-zoom-image="/media/{{ products.imagen_4 }}">
                                    <img src="/media/{{ products.imagen_4 }}" alt="">
                                </a>
                                {% else %}
                                {% endif %}
                            </div>
                        </div>
                        <!-- /Product Gallery -->
                    </div>

                        <!-- /Product Gallery -->
                    <div class="col-md">
                        <div class="prd-block_info">
                            <div class="js-prd-d-holder prd-holder">
                                <div class="prd-block_title-wrap">
                                    <h1 class="prd-block_title">{{ products.titulo }}</h1>
                                    {% if products.new %}
                                    <span class="prd-label--new">Nuevo</span> &nbsp; &nbsp;
                                    {% else %}
                                    {% endif %}
                                    {% if products.offer %}
                                    <span class="prd-label--sale" style="color: #aa0719; border-color: #aa0719" >Promo</span>
                                    {% else %}
                                    {% endif %}

                                </div>
                                <div class="prd-block_info-top">
                                    <div class="product-sku">Colección: <span>{{ products.prenda.coleccion }}</span>
                                    </div>
                                    <div class="prd-rating"><i class="icon-star fill"></i><i class="icon-star fill"></i><i
                                            class="icon-star fill"></i><i class="icon-star fill"></i><i
                                            class="icon-star"></i> <span>1 reviews</span></div>
                                    {% if products.stock %}
                                        <div class="prd-availability">Disponibilidad: <span>si</span></div>
                                    {% else %}
                                        <div class="prd-availability">Disponibilidad: <span>proximos a llegar</span></div>
                                    {% endif %}

                                </div>
                                <div class="prd-block_description topline">
                                    <p>{{ products.descripcion }}</p>
                                    <p>-  Consultar para otras tallas</p>
                                </div>
                            </div>
                            <div class="prd-block_options topline">

                                <div class="prd-size swatches"><span class="option-label">Tallas:</span>
                                    <div class="option-links">{{ products.talla }}</div>
                                </div>
                            </div>
                            <div class="prd-block_actions topline">
                                {% if products.offer %}
                                    <div class="prd-block_price"><span class="prd-block_price--actual">$ {{ products.precio_oferta }}</span>
                                        <span class="prd-block_price--old">$ {{ products.precio }}</span>
                                    </div>
                                {% else %}
                                    <div class="prd-block_price">
                                        <span class="prd-block_price--actual">$ {{ products.precio }}</span>
                                    </div>
                                {% endif %}
                                <div class="btn-wrap" >
                                    <a href="https://api.whatsapp.com/send?phone=593{{ vortice.celular }}&text=Hola%20Me%20interesa%20un%20producto  www.vortice.ec/producto_detalle/{{ products.id }}/  " target="_blank" rel="noopener" >
                                        <button class="btn btn--add-to-cart"  >
                                        <i class="icon icon-handbag"></i>
                                        <span>Realiza tu pedido</span>
                                    </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 mt-3 mt-xl-0 sidebar-product">
                        <div class="shop-features-style4">
                            <a href="http://www.vortice.ec/producto_detalle/{{ products.id }}/" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.vortice.ec%2Fproducto_detalle%2F{{ products.id }}%2F&amp;src=sdkpreparse"class="shop-feature">
                                <div class="shop-feature-icon">
                                    <i class="icon-facebook"></i>
                                </div>
                                <div class="shop-feature-text">
                                    <div class="text1">Compartir en Facebook</div>
                                </div>
                            </a></a>

                            <a href="whatsapp://send?text=https:/vortice.ec/producto_detalle/{{ products.id }}/" data-action="share/whatsapp/share"class="shop-feature">
                                <div class="shop-feature-icon">
                                    <i class="icon-chat"></i>
                                </div>
                                <div class="shop-feature-text">
                                    <div class="text1">Compartir en Whatsapp</div>
                                </div>
                            </a>

                            <a href="tel:+593 {{ vortice.celular }}" class="shop-feature">
                                <div class="shop-feature-icon">
                                    <i class="icon-call"></i>
                                </div>
                                <div class="shop-feature-text" >
                                    <div class="text1">Contactanos</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}

